@import url(fonts.css);
@import url(reset.css);


body {
    background-color: slategrey;
}



.wrapper {
    min-height: 100%;
    overflow: clip;
    background-image: url("../img/cyber_cityjpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 78%, rgba(132, 190, 68, 1) 86%, rgba(6, 6, 6, 1) 94%);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.9;
    color: yellowgreen;

}

[class*="__container"] {
    max-width: 1250px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
}

/* ==================================================== */

.css-transform {
    margin-top: 100px;
}

.translate,
.scale,
.rotate,
.skew,
.origin {
    background-color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
}


.translate,
.scale,
.rotate,
.skew {
    margin-right: 50px;
}



.translate__item,
.scale__item,
.rotate__item,
.skew__item,
.origin__item {
    color: slategrey;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
}

/* translate */


.translate__item:hover {
    transform: translate(15px, 15px);
}

/* scale */

.scale__item {
    transform: scale(0.05);
}

.scale__item:hover {
    transform: scale(1);
}


/* rotate */


.rotate__item {
    transform: rotate(-50deg);
}

.rotate__item:hover {
    transform: rotate(0);
}

/* skew */


.skew__item {
    transform: skew(20deg);
}

.skew__item:hover {
    transform: skew(0);
}

/* origin */

.origin {
    vertical-align: bottom;
}

.origin__item {
    transform: rotate(-20deg);
    transform-origin: 0 0;
}

.origin__item:hover {
    transform: rotate(0);
}


/* 3D */


.translate3d,
.scale3d,
.rotate3d,
.rotate3d-style,
.rotate3d-visibility {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: yellowgreen;
    border-radius: 10%;
    margin-right: 50px;
}

.translate3d__item,
.scale3d__item,
.rotate3d__item,
.rotate3d-style__item,
.rotate3d-visibility__item {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    background-color: springgreen;
    font-size: 20px;
}

.translate3d {
    perspective: 100px;
    perspective-origin: center;
    vertical-align: bottom;
}

.translate3d__item {
    transform: translate3d(20px, 20px, -20px);

}

.translate3d:hover .translate3d__item {
    transform: translate3d(0, 0, 0);
}



.scale3d__item {
    transform: scale3d(0.5, 2, 1);
}

.scale3d:hover .scale3d__item {
    transform: scale3d(1, 1, 1);
}

.rotate3d {
    perspective: 100px;

}

.rotate3d__item {
    transform: rotate3d(100, 100, 200, 100deg);
    font-size: 25px;
    text-align: center;
}

.rotate3d:hover .rotate3d__item {
    transform: rotate3d(0, 0, 0, 0deg);
}



.rotate3d-style {
    background: rgba(132, 190, 68, 0.7);
    perspective: 100px;
    transform-style: preserve-3d;
    vertical-align: bottom;
}

.rotate3d-style__item {
    transform: rotate3d(100, 100, 200, 100deg);
    font-size: 22px;
    text-align: center;
    transition: all 0.9s;
}

.rotate3d-style:hover .rotate3d-style__item {
    transform: rotateX(360deg);
}

.rotate3d-visibility {
    perspective: 100px;
    backface-visibility: hidden;
    vertical-align: bottom;
}

.rotate3d-visibility__item {
    transition: all 0.9s;
}

.rotate3d-visibility:hover .rotate3d-visibility__item {
    transform: rotateY(180deg);
}

/* ========================CAR============================== */



.title {
    margin: 0 auto 65px;
    max-width: 1500px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    text-shadow: 2px 2px yellowgreen;

}


.vehicle {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;

}

/* Wheels */



.wheels-vehicle {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 0;
    border: yellowgreen;
    border-style: solid;
    z-index: 5;
}

.wheels-vehicle2 {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 1000px;
    border: yellowgreen;
    border-style: solid;
    z-index: 5;
}


.vehicle__headlight {
    position: absolute;
    z-index: 5;
    left: 1180px;
    top: 90px;
    width: 70px;
    height: 20px;
    background: rgb(4, 5, 4);
    background: linear-gradient(62deg, rgba(4, 5, 4, 1) 32%, rgba(226, 221, 221, 1) 69%, rgba(114, 125, 102, 1) 87%);
    border-radius: 5px;
}

.vehicle__engine {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: black;
    right: 370px;
    top: 50px;
}


.wheels-vehicle__disk {
    width: 120px;
    height: 120px;
    background-color: yellowgreen;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    border: white;
    border-style: groove;

}

.wheels-vehicle2__disk {
    width: 120px;
    height: 120px;
    background-color: yellowgreen;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    border: white;
    border-style: groove;

}


/* Chassis */


.vehicle__chassis {
    background-color: black;
    width: 1000px;
    height: 20px;
    border-radius: 75% 25% 89% 11% / 0% 100% 0% 100%;
    position: absolute;
    top: 240px;
    left: 140px;
    z-index: 2;
}

.vehicle__rear-wing {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
}



.vehicle__exhaus {
    width: 100px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: -20px;
    transform: rotate(20deg);
}

.vehicle__exhaus-part {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 95px;
    left: -30px;
    transform: rotate(20deg);
}


.cockpit-vehicle__window {
    width: 5px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 285px;
    z-index: 7;
    transform: rotate(-20deg);
}


.cockpit-vehicle__part1 {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 50px;
    left: 220px;
    top: 210px;
    transform: skew(10deg);
    z-index: 2;
}

.cockpit-vehicle__part2 {
    width: 900px;
    height: 100px;
    border-radius: 30% 70% 82% 18% / 0% 82% 18% 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(132, 190, 68, 1) 34%, rgba(6, 6, 6, 1) 66%);
    position: absolute;
    border: black;
    border-style: double;
    z-index: 4;
}

.cockpit-vehicle__part3 {
    z-index: 2;
    width: 350px;
    height: 150px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 44%, rgba(132, 190, 68, 1) 48%, rgba(6, 6, 6, 1) 55%);
    position: absolute;
    left: 900px;
    top: 80px;
    border-radius: 100% 0% 100% 0% / 0% 45% 55% 100%;
}

.cockpit-vehicle__part4 {
    background-color: black;
    position: absolute;
    width: 20px;
    height: 90px;
    top: 70px;
    left: 40px;
    transform: rotate(20deg);

}

.cockpit-vehicle__part5 {
    position: absolute;
    width: 600px;
    height: 150px;
    border-radius: 100% 0% 2% 98% / 0% 100% 0% 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 44%, rgba(132, 190, 68, 1) 48%, rgba(6, 6, 6, 1) 55%);
    top: 80px;
    left: 300px;
    z-index: 2;
}

.cockpit-vehicle__door-handle {
    width: 40px;
    height: 5px;
    background-color: darkgray;
    z-index: 3;
    position: absolute;
    top: 110px;
    left: 350px;
}

.cockpit-vehicle__part6 {
    background: url("../img/carbon.jpg");
    background-size: contain;
    position: absolute;
    top: 80px;
    left: 65px;
    width: 1000px;
    height: 170px;
}





/* ====================================================== */

.footer {
    width: 100%;
    height: 50px;
    background: linear-gradient(28deg, rgba(0, 0, 0, 1) 10%, rgba(132, 190, 68, 1) 17%, rgba(6, 6, 6, 1) 23%);
}
