/* @import url(reset.css); */

.subtitle{
    color: chartreuse;
}
p{
    color: blue;
}
span{
    color: brown;
}
span.text{
    color: darkgoldenrod;
}
[class*="spec"]{
    color: aquamarine;
}
#up{
    color: darkmagenta;
}