/* RESET and FONTS */

@import url(fonts.css);
@import url(reset.css);

/* ========================== */

/* Body */
body {
    background-color: white;
}

/* ========================== */
/* Wrapper */
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

/* =========================== */

/* Header */
.header {
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
    text-align: center;
    z-index: 9999;
    padding-top: 30px;
}


/* MAIN */

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
}

/* Discounts */




.discounts__container {

    padding: 50px 15px;
}

.discounts__block {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    font-family: "CoreSansC";
    color: white;
}


.card-discounts {
    position: relative;
    padding: 53px 30px;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 12px;
}

@media(any-hover:hover) {

    .card-discounts:hover,
    .card-arrival:hover {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.40);
    }
}

.card-discounts__content {
    position: relative;
    z-index: 5;
    max-width: 265px;
}

.card-discounts__subtitle {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 167%;
    letter-spacing: 0.251px;
    margin-bottom: 24px;
}

.card-discounts__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 132%;
    margin-bottom: 10px;

}

.card-discounts__proposal {

    font-size: 16px;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.251px;
    margin-bottom: 41px;
}

.card-discounts__link {
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;

}

@media(any-hover:hover) {
    .card-discounts__link:hover {
        text-decoration: underline;
    }
}

.card-discounts__title,
.card-discounts__subtitle,
.card-discounts__proposal,
.card-discounts__link {
    text-shadow: black 1px 1px 4px;
}

.card-discounts__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 12px;
}

/* New Arrival */


.new-arrival__container {
    padding: 15px;
    color: #3C4242;
    font-family: "Causten";
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-bottom: 110px;
}

.title {
    display: flex;
    color: #3C4242;
    font-family: "CoreSansC";
    font-size: 34px;
    font-weight: 600;
    line-height: 98.5%;
    letter-spacing: 0.68px;
    margin-bottom: 70px;
}

.title::before {
    margin-top: 2px;
    content: "";
    width: 6px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #8A33FD;
    margin-right: 20px;
}

.new-arrival__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    gap: 38px;
}

.card-arrival {
    border-radius: 12px;
    transition: 0.3s;
}

.card-arrival__image {
    width: 100%;

    aspect-ratio: 262/262;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 32px;
}

.card-arrival__description {
    padding-left: 5px;
}

/* Big saving zone */


.saving__container {
    padding: 15px;
}


.saving__block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

}


.card-saving {
    display: grid;
    padding: 36px 20px;
    position: relative;
    grid-column: span 2;
    align-items: center;
    overflow: hidden;
    justify-content: left;
    background-color: #858585;
    border-radius: 12px;
}

.card-saving--limited {
    justify-content: right;
    text-align: right;
}

.card-saving--black {
    justify-content: right;

}



.card-saving--big {
    grid-column: span 3;
}



.card-saving__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.card-saving__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.4s;
    transform: scale(1.0001);
}

@media(any-hover:hover) {
    .card-saving__image:hover img {
        transform: scale(1.04);
    }
}

.card-saving__content {

    max-width: 160px;
    position: relative;
    z-index: 5;
    color: #FFF;
    font-family: "Causten";
    font-size: 12px;
    font-weight: 500;
    line-height: normal;

}



.card-saving__product {

    font-family: "CoreSansC";
    font-size: 28px;
    font-weight: 600;
    line-height: 137%;
    letter-spacing: 0.56px;
    margin-bottom: 10px;
}

.card-saving__description {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-saving__proposal {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}



.card-saving__link {
    position: relative;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 25px;
    text-align: center;
    margin-top: 60px;

}

@media(any-hover:hover) {
    .card-saving__link:hover {
        background-color: #3C4242;
        color: #858585;
    }

    .card-saving__link:hover::before {
        transform: translateY(50%);
    }
}

.card-saving__link::before {
    content: "";
    background: url("../img/arrow_white.svg");
    width: 23px;
    height: 26px;
    position: absolute;
    top: -60px;
    left: 45px;
}

.card-saving__button {
    border-radius: 4px;
    background: #3C4242;
    padding: 10px 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 28px;
}

@media(any-hover:hover) {
    .card-saving__button:hover {
        background-color: #555555;
        color: #000000;
    }

}

.card-saving__content--black {
    color: #3C4242;
}


.card-saving__content--black .card-saving__link::before {
    content: "";
    background: url("../img/arrow_grey.svg");
    width: 27px;
    height: 31px;
    position: absolute;
    top: -60px;
    left: 40px;
}

.card-saving--big {
    justify-content: right;
    padding: 64px 15%;
}

@media(max-width:991.98px) {
    .title {
        margin-bottom: 35px;
    }

    .discounts__container {
        padding: 15px;
    }

    .new-arrival__block {
        gap: 19px;
    }

    .card-saving__content--black {
        text-align: right;
    }
}

@media(max-width:767.98px) {
    .saving__block {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-saving--big {
        grid-column: span 4;
    }

    .card-saving--black {
        grid-area: 2/2/3/4;
    }

    .discounts__block {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:610px) {
    .card-saving {
        grid-column: span 4;
    }

    .card-saving--black {
        grid-area: 2/1/3/3;
    }

    .card-saving--limited {
        grid-area: 2/3/3/5;
    }

}

@media(max-width:520px) {
    .card-saving--black {
        grid-area: 2/1/3/5;
    }

    .card-saving--limited {
        grid-area: 3/1/4/5;
    }
}


/* Footer */

.footer {
    background-color: yellowgreen;
    padding: 15px;
    text-align: center;

}